@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(Images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
 }

 .logo nav img{
    width: 150px;
    cursor: pointer;
 }

 nav button {
    border: none;
    outline: none;
    background-color: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.lang-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.fa-globe {
    color: #fff;
    width: 10px;
    margin-right: 10px;
}

.lang-btn img {
    width: 10px;
    margin-left: 10px;
} 

.header-content{
    align-items: center;
    margin-top: 100px;
    position: absolute;
    left: 15%;
    top: 10%;
}

.header-content h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-content h3{
    margin-top: 40px;
    text-align: center;
}

.header-content P{
    margin-top: 50px;
}
/*input*/

.email {
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* overflow: hidden; */
    
}

.email input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 10px;
}

.email  button {
    background-color: #db0001;
    border:none;
    outline: none;
    color:#fff;
    font-size: 16px;
    padding: 20px;
    height:80%;
}

hr{
    height: 10px;
    background: #000;
    background-color: #fff;
    opacity: 0.1;
}

 .feating .row {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    text-align: center;
    margin-bottom: 100px;

}

 .row-feat  {
    width: 50%;
    padding-right: 0px;
    margin-top: 150px;
    left: 700px;
    
}

.row-feat h2{
    font-weight: 600;
    font-size: 3rem  ;
}

 .row-feat h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.row1 {
    width:  50%;
}

.row1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.row-feat2  .row2{
    width: 50%;
    flex-basis: 50%;
}

  .row2 img{
    width: 45%;
 }

.row-feat2{
    flex-basis: 50%;
    margin-left: 500px;
    font-size: 1rem;
    text-align: center;
    bottom: 10%;
 }


 .row3 .row-feat3{
    display: block;
    width:50% ;
 }

 .row3 img{
    width: 40%;
    margin-left: 550px;
}

.row-feat3{
    bottom: 100%;
    margin-left: 100px;
}

 .row4 .row-feat4{
    width: 90%;
}

.row-feat4{
    margin-left: 500px;
    text-align: center;
    font-size: 1rem;
    top: 50%;
}

/* foire questions */

.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-size: 40px;
    font-weight: 500;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background-color: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}

.faq small {
    font-size: 13px;
}

.faq .email-signup {
    max-width: 600px;
    margin: 20px auto 60px;
}

/* footer */

.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer .rows {
    align-items: flex-start;
    padding: 10px 0px;
}

.footer .lang-btn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copyright-text {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}



